body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(255, 223, 228);
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  color: black;
  padding: 12px 20px;
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
  background-color: #4CAF50;
}
.btn-primary {
  background-color: white;
}

.btn-primary:hover {
  background-color: lightgray;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  background-color: #fff;
}

input[type="text"], 
input[type="datetime-local"], 
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="datetime-local"]:focus,
input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  text-align: center;
  font-size: 16px;
}

.success-message {
  color: green;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
}

a {
  display: block;
  text-align: center;
  margin: 20px auto;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
}

a:hover {
  background-color: #0056b3;
}